body {
  background: whitesmoke;
  margin: 0;
  font-family: "Reem Kufi", sans-serif;
}

$Sienna: #ea8c55;
$Cedar: #c75146;
$Brick: #ad2e24;
$Darkred: #81171b;

a {
  text-decoration: none;
  font-size: 1.5em;
}
//.............................. TOGGLE FOR DARK-MODE
.toggle {
  svg {
    position: absolute;
    left: 50%;
    top: 1.75em;
    height: 20px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}
//.............................. HOME/LANDING PAGE BACKGROUND
.landing-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), transparent, #ffffffd2),
    url(../images/dino-reichmuth-A5rCN8626Ck-unsplash.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  animation: introLoad 3s ease forwards;
}
//.............................. LOGO
.logo {
  position: absolute;
  top: 1.75em;
  left: 0.5em;
  font-size: 0.65em;
  a {
    color: white;
  }
  span {
    color: $Sienna;
  }

  &::after {
    position: absolute;
    top: 1.2em;
    left: 2.5em;
    content: "";
    background-image: url(../images/Vector.svg);
    background-size: 10em 2.5em;
    width: 10em;
    height: 2.5em;
  }
}

//.............................. NAVIGATION BAR/HEADER
nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 30%;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  background-image: linear-gradient(
      27deg,
      whitesmoke,
      white,
      transparent,
      white
    ),
    linear-gradient(36deg, white, transparent, transparent, whitesmoke),
    linear-gradient(17deg, white, whitesmoke);
  backdrop-filter: blur(5px);
  font-size: small;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 4em;

    a {
      color: $Brick;
      display: block;
      padding: 0.75em 1em;

      &:hover {
        border: 0.1em solid $Brick;
        border-radius: 1em;
      }
    }
  }

  .close-svg {
    float: right;
    top: 0;
    width: 2em;
    cursor: pointer;
  }
}

header {
  display: flex;
  justify-content: space-between;

  .menu-svg {
    z-index: 998;
    top: 0;
    right: 1em;
    position: fixed;
    margin-top: 1em;
    cursor: pointer;
    path {
      fill: white;
    }
  }
}

.open-nav {
  transform: translate(0);
}

//.............................. HOME/LANDING PAGE SECTION

.Landing-page {
  height: 105vh;
  width: 100%;
  text-align: right;
  animation: moveDown 2s ease-in-out forwards;

  h1 {
    display: block;
    margin-left: auto;
    margin-right: 1em;
    width: 75%;
    margin-top: 3em;
    color: white;
    font-size: 3em;
    font-weight: bolder;
    filter: drop-shadow(5px 5px 3px rgb(0, 0, 0));
    line-height: 1em;

    .Adven {
      color: $Cedar;
    }
    span {
      color: $Sienna;
    }
  }
  p {
    float: right;
    width: 50%;
    color: white;
    line-height: 1em;
    font-weight: bold;
    font-size: 1em;
    margin-left: auto;
    margin-right: 3em;
    filter: drop-shadow(5px 5px 3px rgb(0, 0, 0));
  }

  button {
    position: absolute;
    bottom: 30em;
    right: 0;
    padding: 1em 2em;
    color: white;
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 3.5em;
    filter: drop-shadow(5px 5px 3px rgb(0, 0, 0));
    cursor: pointer;

    &:hover {
      background-color: rgba(248, 176, 133, 0.433);
      color: transparent;
    }
  }
}

//.............................. EXPLORE PAGE SECTION
.Explore-page {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    transparent,
    rgba(0, 128, 0, 0.056),
    transparent
  );
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  justify-content: space-around;
  align-content: center;

  img {
    object-fit: cover;
    height: 30em;
    width: 30em;
    filter: drop-shadow(10px 6px 5px black);
  }

  h1 {
    font-size: 2.5em;
    filter: drop-shadow(2px 2px 3px rgb(39, 53, 37));

    span {
      color: green;
    }
  }
  p {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  button {
    padding: 0.5em 1.5em;
    color: green;
    background-color: transparent;
    border: 2px solid green;
    filter: drop-shadow(0px 0px 0.5px rgb(0, 0, 0));
    cursor: pointer;
    margin-bottom: 5em;
  }
}

.active {
  transform: translateY(0);
  opacity: 100%;
}

.Packages-page {
  height: 100vh;
  width: 100%;
}

.packages-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 2em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.487);
}

.package-details {
  text-align: center;
  margin: 2em 2em;

  .package-img {
    height: 25em;
    width: 25em;
    border-radius: 3em;
    margin: auto;
  }
  .one {
    background-image: url(../images/mesut-kaya-eOcyhe5-9sQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
  }
  .two {
    background-image: url(../images/jack-ward-rknrvCrfS1k-unsplash.jpg);
    background-position: center;
    background-size: cover;
  }
  .three {
    background-image: url(../images/fabio-comparelli-uq2E2V4LhCY-unsplash.jpg);
    background-position: center;
    background-size: cover;
  }
  .four {
    background-image: url(../images/earth-DXuxHw3S5ak-unsplash.jpg);
    background-position: center;
    background-size: cover;
  }
  .five {
    background-image: url(../images/aron-van-de-pol-tZDtyUrYrFU-unsplash.jpg);
    background-position: center;
    background-size: cover;
  }

  .package-info {
    align-self: center;
    width: 100%;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  &:hover {
    path {
      fill: $Sienna;
    }
  }
}
.prev {
  left: 2em;
}
.next {
  right: 2em;
}

.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 2em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  &:hover {
    background-color: #717171;
  }
}

.active1 {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
//.............................. REVIEWS/SLIDER SECTION
.Reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;

  .review-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 3em;
  }

  .review-swiper {
    width: 100%;
    height: 15em;
    margin-bottom: 3em;
  }

  .slide {
    border: 1px solid black;
    border-radius: 1em;
    padding: 3em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
    font-size: 0.8rem;
  }
  .text {
    padding: 1rem;
    line-height: 1;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
    font-size: 0.8rem;

    h3 {
      font-size: 1em;
    }
  }
  img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }
}

Footer {
  height: 30vh;
  width: 100%;
  background-color: $Brick;
}
//.............................. DARK MODE

.dark-mode {
  background-color: black;
  color: white;
}
//.............................. MEDIA QUERIES
@media only screen and (min-width: 680px) {
  body {
    background: whitesmoke;
    margin: 0em;
  }
}

@media only screen and (min-width: 900px) {
  .wrapper {
    width: 920px;
    margin: 0 auto;
  }
}

.Explore-page {
  h1 {
    margin-left: 1em;
  }
}

//.............................. ANIMATIONS
// LOAD ANIMATION FOR HOME SECTION
@keyframes introLoad {
  from {
    clip-path: polygon(
      100% 30%,
      83% 9%,
      73% 30%,
      57% 8%,
      45% 31%,
      30% 7%,
      17% 29%,
      0 10%,
      0 0,
      100% 0
    );
  }
  to {
    clip-path: polygon(
      100% 100%,
      83% 87%,
      70% 100%,
      54% 86%,
      41% 100%,
      26% 86%,
      11% 100%,
      0 84%,
      0 0,
      100% 0
    );
  }
}
// TEXT ANIMATION FOR HOME SECTION
@keyframes moveDown {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

// FADE ANIMATION FOR PACKAGE SECTION
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
